#logo{
  position: fixed; /* or absolute */
  height: 10em;
  width: 10em;
  top: calc(50% - 5em);
  left: calc(50% - 5em);
  display: block;
  text-align: center;
}

h1{
   color: #e5e5e5; 
   text-shadow: 1px .5px .75px #fff;
   userSelect: none;
   -webkit-user-select: none;
   -moz-user-select: none;
}

div{
   position: fixed; 
   right: 10;
   bottom: -25;
}
